@import url('http://fonts.googleapis.com/css?family=DynaPuff');
@import url('http://fonts.googleapis.com/css?family=Acme');

body, html {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #12141C;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  > .Home {
    display: flex;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;

    > .home-left {
      flex: 0.65;
      display: flex;
      flex-direction: column;
      background-color:#1f2436;
      align-items: center;
      justify-content: center;
      height: 100vh;

      @media (max-width: 700px) {
        flex: 1;
      }

      > .home-left-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

        > .home-left-logo-div {
          display: flex;
          position: absolute;
          justify-content: center;
          align-self: flex-start;
          align-items: center;
          top: 7%;
          left: 4%;

          @media (max-width: 400px) {
            align-self: center;
            left: auto;
          }
  
          > img {
            max-width: 3em;
            max-height: 3em;
            border-radius: 5%;
          }
  
          > b {
            font-family: DynaPuff;
            font-size: 2em;
            margin-left: 0.5em;
          }
        }
  
        > h1 {
          font-family: Acme;
          font-size: 3em;
          margin-bottom: 50px;
          letter-spacing: 2px;
          padding-left: 1em;
          padding-right: 1em;

          @media (max-width: 700px) {
            display: none;
          }
        }
  
        > .home-left-form-div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
  
          > hr {
            width: 21em;
            border: 1px solid #5b5e7abe;
            margin-bottom: 50px;

            @media (max-width: 700px) {
              width: 10em;
              margin-bottom: 30px;
              margin-top: 30px;
            }
          }
  
          > form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
  
            > input {
              border: none;
              background-color: #5b5e7abe;
              outline: none;
              color: white;
              height: 2em;
              width: 30%;
              border-radius: 50px;
              font-family: Acme;
              font-size: 1.5em;
              margin-bottom: 1em;
              padding-left: 1em;

              @media (max-width: 700px) {
                font-size: 1em;
                width: 40%;
              }
            }
          }
  
          > button {
            border: none;
            background-color: #5b5e7abe;
            outline: none;
            color: white;
            height: 2em;
            border-radius: 50px;
            font-family: Acme;
            font-size: 1.5em;
            padding-left: 2em;
            padding-right: 2em;
            margin-top: 2em;
            cursor: pointer;
            transition: background-color 0.5s ease;
          }
  
          > button:hover {
            background-color: #70ca9d;
            transition: background-color 0.5s ease;
          }

          > .register-p-div {
            display: none;

            @media (max-width: 700px) {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              color: white;
              font-family: Acme;
              font-size: 1.5em;
              margin-top: 2em;

              > .register-p {
                margin-bottom: 0.1em;
              }
            }
          };

          > .register-btn {
            display: none;

            @media (max-width: 700px) {
              display: flex;
              justify-content: center;
              align-items: center;
              border: none;
              background-color: #5b5e7abe;
              outline: none;
              color: white;
              height: 2em;
              border-radius: 50px;
              font-family: Acme;
              font-size: 1.5em;
              padding-left: 2em;
              padding-right: 2em;
              margin-top: 2em;
              cursor: pointer;
              transition: background-color 0.5s ease;

              > .link {
                text-decoration: none;
                color: white;
              }
            }
          }

          > .register-btn:hover {
            background-color: #70ca9d;
            transition: background-color 0.5s ease;
          }
        }
      }
    }

    > .home-right {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0.35;
      height: 100vh;

      @media (max-width: 700px) {
        display: none;
      }

      > .home-right-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        > b {
          font-family: Acme;
          font-size: 2em;
          margin-top: 0.5em;
          letter-spacing: 1px;
        }

        > :nth-child(1) {
          margin-top: 0;
        }
  
        > p {
          font-family: Acme;
          font-size: 1.4em;
          margin-top: 5em;
          width: 50%;
        }
  
        > button {
          border: none;
          background-color: #5b5e7abe;
          outline: none;
          color: white;
          height: 2em;
          border-radius: 50px;
          font-family: Acme;
          font-size: 1.5em;
          margin-top: 2em;
          cursor: pointer;
          transition: background-color 0.5s ease;

          > .link {
            text-decoration: none;
            color: white;
            padding-left: 2em;
            padding-right: 2em;
            height: 100%;
            width: 100%;
          }
        }
  
        > button:hover {
          background-color: #70ca9d;
          transition: background-color 0.5s ease;
        }
      }
    }
  }

  > .Header {
    width: 20em;
    height: 80px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1em;

    > .header-left {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0.33;

      > :nth-child(1) {
        border: none;
        background-color: #5b5e7abe;
        cursor: pointer;
        outline: none;
        color: white;
        width: 3em;
        height: 2.5em;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 5px;
        margin-right: 5px;

        @media (max-width: 400px) {
          display: none;
        }

        > img {
          width: 100%;
          height: 50%;
          border-radius: 3px;
        }
      }

      > :nth-child(2) {
        border: none;
        background-color: #5b5e7abe;
        cursor: pointer;
        outline: none;
        color: white;
        width: 3.2em;
        height: 2.5em;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 5px;

        @media (max-width: 400px) {
          display: none;
        }

        > img {
          width: 100%;
          height: 100%;
          border-radius: 3px;
          scale: 0.9;
          filter: invert(-100%);
        }
      }

      > :nth-child(3) {
        border: none;
        background-color: #5b5e7abe;
        cursor: pointer;
        outline: none;
        color: white;
        width: 3em;
        height: 2.5em;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 5px;
        margin-left: 5px;

        @media (max-width: 400px) {
          margin-left: 0;
        }

        > img {
          width: 100%;
          height: 100%;
          border-radius: 3px;
          filter: invert(-100%);
          scale: 0.7;
        }
      }
    }

    > .header-mid {
      font-family: DynaPuff;
      font-size: 1.6em;
      flex: 0.33;
      margin-left: 1em;
      margin-right: 1em;

      > button {
        border: none;
        cursor: pointer;
        outline: none;
        background-color: transparent;

        > .link {
          text-decoration: none;
          color: white;
          font-family: DynaPuff;
          font-size: 2em;
        }
      }
    }

    > .header-right {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0.33;

      > :nth-child(1) {
        border: none;
        background-color: #5b5e7abe;
        cursor: pointer;
        outline: none;
        color: white;
        width: 3em;
        height: 2.5em;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 5px;
        margin-right: 5px;

        @media (max-width: 400px) {
          display: none;
        }

        > img {
          width: 100%;
          height: 100%;
          border-radius: 3px;
          scale: 0.7;
          margin-right: 1px;
        }
      }

      > :nth-child(2) {
        border: none;
        background-color: #5b5e7abe;
        cursor: pointer;
        outline: none;
        color: white;
        width: 3em;
        height: 2.5em;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 5px;
        margin-right: 5px;

        @media (max-width: 400px) {
          display: none;
        }

        > img {
          width: 100%;
          height: 100%;
          border-radius: 3px;
          scale: 0.7;
        }
      }

      > :nth-child(3) {
        border: none;
        cursor: pointer;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: #5b5e7abe;
        border-radius: 5px;
        width: 2.5em;
        height: 2.5em;
        padding: 0;
  
        > .link {
          text-decoration: none;
          color: white;
          font-family: DynaPuff;
          width: 100%;
          height: 100%;

          > img {
            width: 100%;
            height: 100%;
            border-radius: 3px;
            scale: 0.6;
          }
        }
      }
    }
  }

  > .Game {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;

    > .confetti {
      opacity: 0;
      transition: opacity 2s ease-in-out;
    }

    > .confetti-visible {
      opacity: 1;
      transition: opacity 2s ease-in-out;
    }

    > .game-div {
      display: flex;
      flex-direction: column;
      width: 100%;

      > .rows-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
  
        > .row {
          display: flex;
          align-items: center;
          justify-content: center;
  
          > input{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #1f2436;
            width: 1.5em;
            height: 1.5em;
            margin-right: 0.1em;
            margin-left: 0.1em;
            margin-bottom: 0.2em;
            color: white;
            border-radius: 10px;
            border: 2px solid #414358;
            font-family: DynaPuff;
            font-size: 2em;
            text-align: center;
            text-transform: uppercase;
            caret-color: transparent;
            outline: none;
            transition: scale 0.2s ease;
            transition: background-color 0.2s ease;
          }

          > .input-clicked {
            scale: 1.1;
            background-color: #2b3249;
            transition: scale 0.2s ease;
            transition: background-color 0.2 ease;
          }

          > .green {
            background-color: #78B851;
          }

          > .yellow {
            background-color: #F3C236;
          }

          > .grey {
            background-color: #242733;
          }
        }
      }

      > .msg-div {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 1em;
          margin-bottom: 1em;

        > p {
          font-family: DynaPuff;
          font-size: 1.6em;
        }
      }

      > .virtual-keyboard {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;
        width: 35em;
        margin-bottom: 2em;

        @media (max-width: 600px) {
          width: 85%;
        }

        > .key {
          border: 1px solid #414358;
          background-color: #262e4d;
          color: white;
          padding: 0.5rem 1rem;
          font-size: 1.5rem;
          margin: 0.2rem;
          border-radius: 5px;
          font-family: DynaPuff;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: background-color 0.3s ease;

          @media (max-width: 600px) {
            font-size: 0.8em;
          }
        
          &:hover {
            background-color: #374166;
          }
        
          &.used {
            background-color: #ddd;
            color: #aaa;
            cursor: not-allowed;
          }
        
          &.grey {
            background-color: #242733;
          }
        
          &.yellow {
            background-color: #ffcc00;
          }
        
          &.green {
            background-color: #9ccc65;
          }
        }
        
        // > .key-backspace, .key-enter {
        //   // text-align: center;
        // }
      }

      //smooth zoom in-out animation for win message
      @keyframes win {
        0% {
          transform: scale(1, 1);
        }
        50% {
          transform: scale(1.3, 1.3);
        }
        100% {
          transform: scale(1, 1);
        }
      }

      > .win {
        animation: win 0.7s ease-in-out;
      }
    }
  }

  > .Rules {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 40%;

    > h1 {
      font-family: DynaPuff;
      font-size: 2em;
      margin-bottom: 0.4em;
    }

    > p {
      font-family: Acme;
      font-size: 1.2em;
      margin-bottom: 1em;
      letter-spacing: 0.3px;
    }

    > h2 {
      font-family: DynaPuff;
      margin-top: 0.4em;
      font-size: 1.6em;
      margin-bottom: 0.7em;
    }
  }
}